<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linus?</title>
</head>
<body>
    <h1>How many Linus do you need to set yourself free?</h1>
    <p>Currently, {{ x }} Linus's have been requested. How many will you request?</p>
</body>
</html>